USE [master]
GO
/****** Object:  Database [MyShopDB]    Script Date: 27/11/2023 22:49:04 ******/
CREATE DATABASE [MyShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MyShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MyShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyShopDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 27/11/2023 22:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [ntext] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 27/11/2023 22:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrdinalNumber] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrdinalNumber] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 27/11/2023 22:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 27/11/2023 22:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] NOT NULL,
	[Name] [ntext] NOT NULL,
	[Price] [int] NOT NULL,
	[Color] [ntext] NOT NULL,
	[Category] [int] NULL,
	[Image] [ntext] NULL,
	[AvailableQuantity] [int] NULL,
	[MarkUpPercent] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27/11/2023 22:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Telephone] [nvarchar](11) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name]) VALUES (1, N'Điện thoại')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (2, N'Tablet')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (3, N'Laptop')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[OrderDetails] ([OrdinalNumber], [OrderID], [ProductID]) VALUES (1, 1, 21)
INSERT [dbo].[OrderDetails] ([OrdinalNumber], [OrderID], [ProductID]) VALUES (1, 2, 7)
INSERT [dbo].[OrderDetails] ([OrdinalNumber], [OrderID], [ProductID]) VALUES (1, 3, 18)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [Date]) VALUES (1, CAST(N'2023-09-05' AS Date))
INSERT [dbo].[Orders] ([ID], [Date]) VALUES (2, CAST(N'2023-09-09' AS Date))
INSERT [dbo].[Orders] ([ID], [Date]) VALUES (3, CAST(N'2023-09-13' AS Date))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Products] ([ID], [Name], [Price], [Color], [Category], [Image], [AvailableQuantity], [MarkUpPercent]) VALUES (1, N'iPhone 15 Pro Max 1TB', 46490000, N'Grey', 1, N'assets/images/phone/phone01.jpg', 10, 0.1)
INSERT [dbo].[Products] ([ID], [Name], [Price], [Color], [Category], [Image], [AvailableQuantity], [MarkUpPercent]) VALUES (2, N'iPhone 15 Pro', 28490000, N'White', 1, N'assets/images/phone/phone02.jpg', 10, 0.1)
INSERT [dbo].[Products] ([ID], [Name], [Price], [Color], [Category], [Image], [AvailableQuantity], [MarkUpPercent]) VALUES (3, N'iPhone 15', 22490000, N'Pink', 1, N'assets/images/phone/phone03.jpg', 10, 0.1)
GO
INSERT [dbo].[User] ([ID], [Username], [Password], [FirstName], [LastName], [Role], [Email], [Telephone], [Address], [Avatar]) VALUES (1, N'admin', N'123456', N'Ad', N'Min', N'admin', N'example1@gmail.com', N'0123456789', N'Somewhere1', N'assets/images/avatar/Avatar_1.png')
INSERT [dbo].[User] ([ID], [Username], [Password], [FirstName], [LastName], [Role], [Email], [Telephone], [Address], [Avatar]) VALUES (2, N'user1', N'password1', N'Hieu', N'Nguyen', N'user', N'example2@gmail.com', N'0123123123', N'Somewhere2', N'assets/images/avatar/Avatar_3.png')
INSERT [dbo].[User] ([ID], [Username], [Password], [FirstName], [LastName], [Role], [Email], [Telephone], [Address], [Avatar]) VALUES (3, N'user2', N'password2', N'Hung', N'Ngo', N'user', N'example3@gmail.com', N'0456456456', N'Somewhere3', N'assets/images/avatar/Avatar_5.png')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E497DE63DA]    Script Date: 27/11/2023 22:49:04 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__536C85E497DE63DA] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534C176FB4B]    Script Date: 27/11/2023 22:49:04 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__A9D10534C176FB4B] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__D9FEB744EEA6CFA2]    Script Date: 27/11/2023 22:49:04 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__D9FEB744EEA6CFA2] UNIQUE NONCLUSTERED 
(
	[Telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
USE [master]
GO
