USE [MyShopDB]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23/11/2023 09:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Telephone] [nvarchar](11) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[User] ([ID], [Username], [Password], [FirstName], [LastName], [Role], [Email], [Telephone], [Address], [Avatar]) VALUES (1, N'admin', N'123456', N'Ad', N'Min', N'admin', N'example1@gmail.com', N'0123456789', N'Somewhere1', N'assets/images/avatar/Avatar_1.png')
INSERT [dbo].[User] ([ID], [Username], [Password], [FirstName], [LastName], [Role], [Email], [Telephone], [Address], [Avatar]) VALUES (2, N'user1', N'password1', N'Hieu', N'Nguyen', N'user', N'example2@gmail.com', N'0123123123', N'Somewhere2', N'assets/images/avatar/Avatar_3.png')
INSERT [dbo].[User] ([ID], [Username], [Password], [FirstName], [LastName], [Role], [Email], [Telephone], [Address], [Avatar]) VALUES (3, N'user2', N'password2', N'Hung', N'Ngo', N'user', N'example3@gmail.com', N'0456456456', N'Somewhere3', N'assets/images/avatar/Avatar_5.png')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E497DE63DA]    Script Date: 23/11/2023 09:56:55 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__536C85E497DE63DA] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534C176FB4B]    Script Date: 23/11/2023 09:56:55 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__A9D10534C176FB4B] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__D9FEB744EEA6CFA2]    Script Date: 23/11/2023 09:56:55 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__D9FEB744EEA6CFA2] UNIQUE NONCLUSTERED 
(
	[Telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
